@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Rubik', sans-serif;
}

body {
  color: #2d3b87;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d3b87;
}

a:hover {
  color: #2d3b87;
}
