.payment {
	display: flex;
	flex-direction: column;
	border-radius: 20px 0 0 20px;
	border-left: 1px solid #e0e3ee;
	margin-left: auto;
	padding: 20px;
	min-width: 25%;
}

.payment__item {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	display: flex;
	margin-top: 5px;
}

.payment__price {
	color: #2d3b87;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 10px;
}

.payment__btns {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
